name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./actions/environment

      #- name: Install uv
      #  uses: astral-sh/setup-uv@v3
      #  with:
      #    # Install a specific version of uv.
      #    version: "0.5.4"

      #- name: Set up Python
      #  run: uv python install


      #- name: Install the project
      #  run: uv sync

      # without dev dependencies?
      - name: Change version in pyproject.toml
        shell: bash
        run: |
           sed -i -e "s/0.0.0/${GITHUB_REF#refs/*/}/" pyproject.toml
           uv build

      - name: Archive dist folder
        uses: actions/upload-artifact@v4
        with:
           name: dist
           path: dist
           retention-days: 1

      # Push dist folder to the build branch
      - name: Publish the dist folder
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: dist     # The branch the action should deploy to.
          folder: dist     # The folder the action should deploy.

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: release

    permissions:
      # This permission is required for trusted publishing.
      id-token: write

    steps:
      - uses: cvxgrp/.github/actions/publish@main
